@import '../node_modules/@syncfusion/ej2-react-diagrams/styles/material.css';
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-layouts/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';

.e-diagram-first-selection-indicator {
  stroke-width: 5px;
  stroke: red;
  stroke-dasharray: 1, 1;
}
.custom.e-treeview .e-list-item .e-icon-expandable::before {
  font-size: 12px ;
  content: '\ec04' !important;
}

.custom.e-treeview .e-list-item .e-icon-collapsible::before {
  content: '\e65f' !important;
  font-size: 12px;
}

.e-treeview .e-list-item .e-icons.e-icon-collapsible {
  transform: none;
}